

#drumexercises{
    height: 35px;
    width: 170px;
    border-color: #06db34;
    border-radius: 3px;
    
}

.button {
    transition-duration: 0.4s;
  }

.submit{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 15px;
   
  }
  .submit:hover {
    background-color: #01a0d4; /* Green */
    color: white;
    font-size: 16px;
  }
.tempo-box{
    display: flex;
    flex-direction: column;
    margin:0px auto;
    width: 350px;
    background-color: rgba(128, 128, 128, 0.335);
    
}
.sep{
    margin-top: 100px;
}
/* .current-tempo{
   
    
} */
.goal-tempo{
    margin-top: 10px;
    
}
.save{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 15px;
    
   
  }
  .save:hover {
    background-color: #f63022; /* Green */
    color: white;
    font-size: 16px;
  }